@import url('https://fonts.googleapis.com/css2?family=Modak&family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgba(150, 145, 145, 0.794);
	background-image: url(./images/alesia-kazantceva-mobile.png);
	background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100% 100%;

	display: grid;
	height: 100vh;
	width: 100vw;
	grid-auto-flow: column;
	grid-template-rows: 1fr 8fr;
	grid-template-areas: 
	'navbar'
	'main';
}