html {
    background-color: rgb(197, 197, 197);
}

* {
    margin: 0;
    padding: 0;
}

#container {
    border: 0.2rem solid rgb(182, 182, 182);
    width: 60vw;

    // position: relative;
    // top: 5rem;
    // left: 0;
    // right: 0;
    border-radius: 1rem;
    margin: auto;
    margin-top: 3vh;
    padding: 1.5rem;
    overflow: auto;

}

#container:hover {
    box-shadow: 0px 0px 15px whitesmoke;
}

#camera {
    width: 40vw;
    height: auto;
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 1rem;

    // position: absolute;
    // left: 3%;
    // top: 10%;
}

#text {
    // position: absolute;
    // right: 3%;
    // top: 10%;
    h1 {
        margin-bottom: 0.5rem;
    }
    p {
        text-align: justify;
    }
}