body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 3fr 1fr;
      grid-template-rows: 1fr 3fr 1fr;
      grid-template-areas: 'headr' 'mainC' 'footr';
  gap: 0.5rem;
  height: 90vh;
  width: 90vw;
  margin: 5vh auto;
  font-size: 1.5rem;
}

body header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: headr;
  background-color: blue;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mainC;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 3fr 2fr;
      grid-template-columns: 3fr 3fr 3fr 2fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
      grid-template-areas: 'sb1 sb2 sb3 sbar' 'mc mc mc sbar';
  gap: 0.5rem;
}

body main .smallBox1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sb1;
  background-color: blue;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body main .smallBox2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sb2;
  background-color: blue;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body main .smallBox3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sb3;
  background-color: blue;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body main .sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: sbar;
  background-color: blue;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body main .mainContent {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: mc;
  background-color: blue;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footr;
  background-color: blue;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */